.location-modal
	position: relative
	background: #ffffff !important
	position: absolute
	width: 45%
	min-width: 550px
	height: auto
	min-width: 1100px
	display: inline-block
	left: 50%
	transform: translateX(-50%)
	margin-top: 5%
	border-radius: 8px

.headline
	width: 100%
	height: 80px
	
.headline h1
	padding-left: 40px
	position: relative
	top: 25%
	bottom: 25%

.headline h1 img
	padding-right: 20px

.button-add-location
	background: #33a9bf
	padding: 3px
	padding-left: 25px
	padding-right: 25px
	color: white
	border-radius: 99px
	width: 300px

.button-add-location img
	margin-top: -1px
	margin-left: 5px

.content-title
	width: 50%
	height: 400px
	max-width: 50%
	display: inline-block
	overflow: hidden

.content-title h2
	padding-left: 70px

.content-address
	width: 50%
	height: 400px
	max-width: 50%
	display: inline-block
	overflow: hidden

.action-button
	position:relative
	height: auto
	width: 100%
	display: flex
	justify-content: center
	padding-top: 10px
	padding-bottom: 10px


@media (max-width: 1100px)
	.location-modal
		width: 90%
		min-width: 0
	.content-title
		display: block
		width: 100%
		height: 60px
		max-width: 100%
	.content-title h2
		position: relative
		top: 25%
		bottom: 25%
		padding-top: 0
	.content-address
		display: block
		width: 100%
		max-width: 100%

.address-list
	width: 100%
	height: 100%

.content-address div
	padding-top: 20px
