<location-search *ngIf="this.showSearch" (onClose)="closeModal()" (onSubmitLocation)="onSubmitLocation($event)"></location-search>
<div class="location-modal">
	<div class="headline">
		<h1><img src="/assets/arrow.svg" alt="image">Mein Standort</h1>
	</div>
	<div class="content-title">
		<h2>Meine Standorte</h2>
	</div>
	<div class="content-address">
		<div *ngFor="let item of results" class="address-entry">
			<b>{{ item.customTitle }}</b>
			<p class="p-street-plz-city">{{ item.street }}, {{ item.plz }} {{ item.city }}</p>
			<p class="p-street-state-country">{{ item.state }}, {{ item.country }}</p>
		</div>
	</div>
	<div class="action-button">
		<button (click)="onSearchClick()" class="button-add-location" mat-flat-button>
			Neuen Standort hinzufügen <img src="/assets/checkmark.svg" alt="image">
		</button>
	</div>
</div>