<div class="location-search-background">
	<div class="location-search">
		<h2>Neuen Standort hinzufügen</h2>
		<input type="text" placeholder="Name für gewählten Standort vergeben" (input)="OnCustomTitleInput($event)"/>
		<input type="text" placeholder="Bitte Ort auswählen" (input)="OnTextSearch($event)" [value]="selectedLocation"/>
		<div *ngIf="searchResults.length > 0" class="search-results">
			<div *ngFor="let item of searchResults" class="search-result" (click)="OnItemClick(item);">
				{{ item.street }}, {{ item.plz }} {{ item.city }}
				<p style="margin-top: 2px; font-size: 12px; color: gray">{{ item.state }}, {{ item.country }}</p>
			</div>
		</div>
		<div class="action-buttons">
			<button class="abort-button" mat-flat-button (click)="OnCloseClick()">
				Abbrechen <img src="/assets/cross.svg" alt="image">
			</button>
			<button class="save-button" mat-flat-button (click)="OnSaveClick()">
				Speichern <img src="/assets/checkmark.svg" alt="image">
			</button>
		</div>
	</div>
</div>