input:first-of-type
	margin-bottom: 10px
input
	height: 25px
	font-size: 16px
	padding-left: 5px
	border: 2px solid #d2dae7
	border-radius: 3px
	color: black
	width: 90%
	padding-top: 5px
	padding-bottom: 5px

input::focus
	border: 2px solid #d2dae7

input::placeholder
	color: #b1b2bb

.location-search
	padding: 18px
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	width: 30%
	min-width: 450px
	height: auto
	background-color:white
	position: absolute
	z-index: 999
	border-radius: 8px
	background: white
	text-align: center

.search-results
	box-shadow: rgba(8, 7, 7, 0.24) 0px 3px 8px
	height: calc(50px * 4)
	z-index: 999
	overflow: hidden
	background-color: white
	width: 90%
	border-radius: 3px
	padding: 3px


.action-buttons
	margin-top: 25px
	display: flex
	justify-content: center
	align-items: center

h2
	font-size: 16px
	font-weight: bold
	margin-top: 5px
	margin-bottom: 25px

.location-search-background
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(15, 18, 35, 0.6)
	z-index: 999

.save-button
	background: #33a9bf
	padding: 3px
	padding-left: 25px
	padding-right: 25px
	color: white
	border-radius: 99px

.save-button img
	margin-top: -1px
	margin-left: 5px
	color: white

.abort-button
	background: #d9f0f4
	padding: 3px
	padding-left: 25px
	padding-right: 25px
	color: #33a9bf
	border-radius: 99px
	margin-right: 10px

.abort-button img
	margin-top: -1px
	margin-left: 5px

.p-street-plz-city
	margin-top: 2px
	font-size: 12px
	color: gray
.p-street-state-country
	margin-top: 2px
	font-size: 12px
	color: gray

.search-result
	height: 50px
	width: auto
	cursor: pointer